@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    height: 106px;
    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__box-logo{
        display: flex;
        align-items: center;
    }
    &__title{
        font-weight: 400;
        font-size: 22px;
        line-height: 38px;
        text-transform: uppercase;
        font-family: 'Oswald';
        padding: 31px 0 37px 18px;
    }
    &__menu-items{
        display: flex;
        gap: 34px;
        padding-top: 41px;
        padding-bottom: 43px;
    }
    &__menu-link{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: #404040;
    }
}
.making{
    background-image: url(/images/upper-bg.jpg);
    max-width: 100%;
    height: 391px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &__title{
        text-align: center;
        padding-top: 98px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 55px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__title::after {
        content: "";
        display: block;
        margin-top: 28px;
        height: 2px;
        width: 80px;
        margin: 0 auto;
        background-color: #ffffff;
        margin-top: 28px;
      }
      &__text{
        color: rgba(255, 255, 255, 0.81);
        text-align: center;
        font-family: 'Vollkorn';
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        padding-top: 25px;
      }
      &__box-cross-image{
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%,);
      } 
}
.minimalist{
    height: 289px;
    margin-bottom: 79px;
    background-color: #FEFEC9;
    &__text{
        padding-top: 60px;
        max-width: 940px;
        padding-bottom: 40px;
        text-align: center;
    }
    &__link{
        display: block;
        margin: 0 auto;
        padding: 13px 34px 20px;
        border: 1px solid #47474F;
        max-width: 159px;
        margin-bottom: 61px;
        color: #47474F;
        border-bottom: 2px solid #47474F;
    }
}
.brands{
    height: 625px;
    &__items{
        gap: 20px;
    }
    &__title{
        padding-top: 38px;
    }
    &__text{
        padding-top: 20px;
        text-align: center;
    }
    &__img{
        max-width: 300px;
    }

}
.recent{
    background-color: #F5F5F5;
    &__inner{
        padding-bottom: 89px;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        gap: 20px;
    }
    &__main-title{
        padding-top: 79px;
        padding-bottom: 43px;
    }
    &__title{
        padding-top: 19px;
    }
    &__text{
        text-align: center;
        padding: 4px;
        padding-bottom: 21px;
    }
    &__card{
        background: #FFFFFF;
    }
}
.ourteam{
    padding-bottom: 89px;
    &__main-title{
        padding-top: 79px;
        padding-bottom: 43px;
    }
    &__items{
        display: flex;
        gap: 20px;
    }
    &__block-links{
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: center;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        padding-top: 20px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 4px;
    }
    &__text{
        padding-bottom: 18px;
        font-family: 'Vollkorn';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}
.reviews{
    background: #F5F5F5;
    padding-bottom: 98px;
    position: relative;
    &__image{
        padding-top: 79px;
        margin: 0 auto;
        padding-bottom: 47px; 
    }
    &__items{
        display: flex;
        justify-content: space-around;
    }
    &__text{
        text-align: center;
        font-family: 'Vollkorn';
        font-weight: 400;
        font-size: 26px;
        line-height: 33px;
        max-width: 339px;
        padding-bottom: 24px;
    }
    &__item-img{
        margin: 0 auto;
        padding: 6px;
    }
    &__image-container {
        position: relative; 
        display: block; 
      }
      
    &__image-container img {
        display: block; 
      }
      
    &__image-container &__border {
        position: absolute; 
        bottom:160; 
        left: 50%; 
        transform: translateX(-50%); 
        width: 2px; 
        height: 215px; 
        background-color: #00000017; 
      }
    &__text-name{
        text-align: center;
        color: #ABABAB;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
    }
}
.info{
    background-image: url(/images/green-bg.jpg);
    max-width: 100%;
    background-repeat: no-repeat ;
    background-size: cover;
    padding-bottom: 61px;
    &__title{
        padding: 79px 0 72px 0;
    }
    &__min-title{
        padding-bottom: 21px;
    }
    &__list{
        display: flex;
        gap: 196px;
        align-self: center;
    }
    &__list-items{
        text-align: center;
    }
    &__image{
        margin: 0 auto;
        
    }
    &__social-items{
        justify-items: start;
        margin-left: 45px;
        padding-bottom: 11px;
    }
    &__social-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        position: relative;
    }
    &__image-facebook,
    &__image-twitter,
    &__image-linkdin{
        position: absolute;
        top: 2px;
        right: 109px;
    }
    &__block-text{
        padding-top: 21px;
    }
    &__item-meet{
        max-width: 178px;
    }
#local-img{
    padding-bottom: 21px;
}
#email-img{
    padding-bottom: 34px;
}
#heart-img{
    padding-bottom: 28px;
}
}
.footer{
    background-color: black;
    &__form{
        width:564px;
        height:298px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
        padding-top: 69px;   
    }
    &__input-text,
    &__input-number{
        font-family: 'Vollkorn';
        font-style: italic;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        padding: 18px 0 17px 31px;
        background: rgba(255, 255, 255, 0.18);
        border: none;
    }
    &__input-email{
        padding: 18px 0 17px 31px;
        font-family: 'Vollkorn';
        font-style: italic;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        border: none;
        background: rgba(255, 255, 255, 0.2);
    }
    &__textarea{
        padding: 18px 0 17px 31px;
        font-family: 'Vollkorn';
        font-style: italic;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        border: none;
        background: rgba(255, 255, 255, 0.2);
        height: 127px;
        color: #F5F5F5;
    }
    &__button{
        display: block;
        margin: 0 auto;
        background: black;
        border: 1px solid #7EC4BD;
        color: #7EC4BD;
        padding: 15px 60px;
        margin-top: 92px;
        margin-bottom: 37px;
    }
    &__logo-img{
        display: block;
        margin: 0 auto;
        margin-bottom: 14px;
    }
    &__copy{
        text-align: center;
        padding-bottom: 75px;
        font-family: 'Vollkorn';
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.4);
    }

}


